@media print {
  .container.footer, .container.header, #sidebar, #license_print {
  	display: none;
  }
  

  #license {
  	border: none;
  }
  
  #license_data input {
  	border: none;
  	font-size: 100%;
  	font-family: Arial,sans-serif;
  	padding: 0;
  }
  
  #license .license_headline, #license .license_headline {
  	color: #000000;
  }
  
  body {
    padding-left: 50px;
    margin-right: 50px;
  }
  
  .content {
    width: 100%;
    margin-right: 50px;
    padding-right: 50px;
  }
  
}



.license_headline {
	font-weight: bold;
    color: #DF430D;
    font-size: 114%;
    margin: 2ex 10px 10px 0;
    padding: 0;
}

#license {
	float:left;
	width:97%; 
	margin-left:10px; 
	margin-top:10px; 
	margin-bottom: 2ex; 
	padding: 3ex;
	padding-bottom:13px;
	background-color: white;
	border: 1px solid #333;
}

#license_header {
	padding-bottom: 2ex;
}

#license_logo {
	float: left;
}

#license_headline0 {
	float:none; 
	font-size: 150%; 
	text-align: center; 
	padding-top: 1ex;
}

#license hr {
	clear: left; 
	margin-bottom: 2ex;
}

#license_data {
}

#license_data .license_headline {
	margin-bottom: 3ex;
}

#license_data input {
	font-size: 140%;
	width: 97%;
}


#license_data .lfdesc {
	clear: left;
    display: inline;
    float: left;
	vertical-align: text-bottom;
	height: 4ex;
	padding-left: 2ex;
}

#license_data .lfval {
	margin-left: 16em;
	margin-bottom: 2ex;
	min-height: 2ex;
	vertical-align: text-bottom;
}

#license_signature {
	width: 100%;
	margin-left: 2%;
	margin-top: 14ex; 
	margin-bottom: 21ex; 
}

.signatureline {
	float: left;
	border-top: 1px solid black;
	padding-top: 2px;
	margin-left: 3%; 
	margin-right: 3%;
	width: 25%; 
}

#license_sendinfo {
	margin-top: 3ex;
}


