#oasherparomeocontainer {
	background-color: #f0f0f0;
	padding-top: 2px;
}

.oa-publishers, #oasherparomeocolordescription ul {
	padding-left: 0px;
	
	> li {
		list-style: none;
		padding-left: 10px;
		margin-top: 2px;
		margin-left: 0px;
	}
}

.oa-publisher {
	font-weight: bold;
	padding-left: 3px;	
}

.oa-conditions {
	list-style: disc inside;
	padding-left: 1em;
}
	
.oa-green {
	border-left: 5px solid green;
}

.oa-yellow {
	border-left: 5px solid yellow;
}

.oa-red {
	border-left: 5px solid red;
}
.oa-blue {
	border-left: 5px solid blue;
}
.oa-white {
	border-left: 5px solid white;
}